@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Fuzzy+Bubbles:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Alan Sans', 'Fuzzy Bubbles', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
